*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 100%;
    height: 100vh;
    /* background-color: darksalmon; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn1{
    width: 20%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: red;
    color: black;
    font-size: larger;
}
.btn2{
    width: 20%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: yellow;
    color: black;
    font-size: larger;
}
.btn3{
    width: 20%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: purple;
    color: black;
    font-size: larger;
}
.btn4{
    width: 20%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: green;
    color: black;
    font-size: larger;
}